button {
  background-color: white;
  border: 1px solid midnightblue;
  border-radius: 15px;
  color: midnightblue;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  transition: all 200ms ease-in;
  width: 100%;
}
button:hover {
  background-color: midnightblue;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in;
}
button:disabled {
  background-color: white;
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
  cursor: default;
  transition: all 200ms ease-in;
}
input {
  border: 1px solid #bababa;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 200;
  padding: 15px;
  width: 100%;
}
button:focus, input:focus {
  outline: none;
}

.error-message {
  color: red;
  font-size: 20px;
  font-weight: 200;
}
.location {
  background-color: white;
  border: none;
  border-radius: 0%;
  color: midnightblue;
  padding: 15px;
}
.location:hover {
  background-color: midnightblue;
  color: white;
  transition: 200ms all;
}
