button {
  background-color: white;
  border: 1px solid var(--blue-primary);
  border-radius: 16px;
  color: var(--blue-primary);
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  transition: all 200ms ease-in;
  width: 100%;
}
button:hover {
  background-color: var(--blue-primary);
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in;
}
button:disabled {
  background-color: white;
  border: 1px solid var(--text-highlight);
  color: var(--text-highlight);
  cursor: default;
  transition: all 200ms ease-in;
}
input {
  border: 1px solid var(--text-primary);
  border-radius: 16px;
  font-size: 20px;
  font-weight: 200;
  padding: 15px;
  width: 100%;
}
button:focus, input:focus {
  outline: none;
}

.error-message {
  color: var(--red-primary);
  font-size: 20px;
  font-weight: 200;
}
.location {
  background-color: white;
  border: none;
  border-radius: 0%;
  color: var(--text-primary);
  padding: 15px;
}
.location:hover {
  background-color: var(--blue-primary);
  color: white;
  transition: 200ms all;
}
.details {
  color: var(--text-primary);
  .name {
    color: var(--blue-primary);
    font-size: 20px;
    font-weight: 200;
  }
  .parent {
    color: #777777;
    font-size: 14px;
    font-weight: 200;
  }
  .sources-list {
    flex-wrap: wrap;
  }
}
.source {
  background-color: #efefef;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 5px;
}
.weather-item {
  border-top: 1px solid #cfcfcf;
  margin-top: 5px;
  padding-top: 5px;
}
.suggestions {
  background-color: white;
  border: 1px solid var(--text-primary);
  border-radius: 16px;
  padding: 16px;
  position: fixed;
  width: 340px;
}
