.logo {
  height: 64px;
  width: 64px;
}
.navigate {
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: var(--blue-primary);
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  transition: border-bottom 250ms ease-in-out;
  width: auto;
}
.navigate:hover {
  background-color: white;
  border-bottom: 2px solid var(--blue-primary);
  color: var(--blue-primary);
  transition: border-bottom 250ms ease-in-out;
}
.active {
  border-bottom: 2px solid var(--blue-primary);
}
