.flex {
  display: flex;
}
.align-content-center {
  align-content: center;
}
.align-items-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.margin-top {
  margin-top: 15px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.app-wrap {
  min-height: calc(100vh - 25px);
  .content {
    margin: 16px auto;
    max-width: 600px;
    min-width: 380px;
    padding: 0 20px;
    width: 50%;
  }
}
.noselect {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
